<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<head th:replace="admin/layouts/head :: head">
</head>

<body>
<!--    header -->
<header th:replace="admin/layouts/header :: header">
</header>
<!-- ========== Left Sidebar Start ========== -->
<!--Menu-->
<div th:replace="admin/layouts/menu :: menu">
</div>
<!--    content-->
<div th:replace="admin/layouts/content :: content">
</div>
<!-- end main content-->
<!-- menu-icons -->
<div th:replace="admin/layouts/menu-icons :: menu-icons">
</div>
<!-- JAVASCRIPT -->
<div th:replace="admin/layouts/scrip :: scrip">
</div>
</body>

</html>