<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="client/element/Head :: head"></head>

<body>
<!-- box trang web  -->
<!-- Header Trang Web Start  -->
<nav th:replace="client/element/Header :: header"></nav>
<!-- Header Trang Web End -->


<!-- Danh Sách Sản Phẩm Start -->
<div class="container mt-3 my-2" style=" min-height: calc(100vh - 100px);">
    <div class="d-flex justify-content-center mt-3 my-3">
        <h3 style="font-weight: bold;">Danh Sách Sản Phẩm Mới Nhất</h3>
    </div>
    <div class="row">
        <div class="col-2" style="background-color: #2ab57d; height: 300px;">
            <h5>Danh Sách Sản Phẩm</h5>
            <div th:each="h :${hangs}" class="d-flex justify-content-center mb-2">
                <a th:href="@{/trang-chu/products/loc-theo-hang(idHang=${h.id})}">
                    <button class="btn bg-warning" th:text="${h.ten}"></button>
                </a>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <!-- Product Item Start -->
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4" th:each="sp :${pages.content}">
                    <div class="card h-100 text-center shadow-sm">
                        <a href="#" class="d-block">
                            <img src="/assets/img/shoes-nike-eriforone-red.png" class="card-img-top"
                                 alt="Giày Nike AF1 Hồng">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title fw-bold" th:text="${sp.ten}">Giầy Nike AF1 Hồng</h5>
                            <span th:text="${#numbers.formatDecimal(sp.donGia, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                        </div>
                        <div class="card-footer">
                            <div class="w-100 rounded">
                                <form method="post"
                                      th:action="@{/trang-chu/products/hien-thi-san-pham-chi-tiet}">
                                    <input type="hidden" name="id" th:value="${sp.id}">
                                    <input type="hidden" name="ten" th:value="${sp.ten}">
                                    <input type="hidden" name="gia" th:value="${sp.donGia}">
                                    <button class="text-body btn-sm bg-success" type="submit">XEM NGAY</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
            </div>
        </div>
    </div>

</div>
<!-- Danh Sách Sản Phẩm End -->


<!-- phần footer -->
<div th:replace="client/element/Footer :: footer"></div>
<!-- js  -->
<div th:replace="client/element/JavaScrip :: javascrip"></div>
</body>

</html>